<body class="homepagebody">
<div class="container">
<div class="row">
                <div class="col-sm-4">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong id="topics">Hyolmo Youth Club</strong>
                     </h2>
                     <hr>

                    Hyolmo Youth Club (HYC) is a non-profit community based registed 501c organization. HYC was started with a simple idea of bringing every Hyolmo Youth in New York together, by building a solid foundation of networking and creating cultural awareness.
               
                    
                </div>
        
            
            <!-- <div class ="container">
                <div class="row"> -->
                   <!--  <div class="box"> -->
                        <div class="col-sm-4">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong id="topics" >Our Obectives</strong>
                            </h2>
                            <hr>
                            <ul>
                                <li> To build social network among Hyolmo Youths of NY.</li>
                                <li> To promote and create cultural awareness within the community </li>
                                <li> To educate and build leadership skills.</li>

                            </ul>
                            
                        </div>
                   <!--   </div> -->
                 <!-- </div>
            </div> -->
                <!-- <div class="container">
                     <div class="row">
                        <div class="box"> -->
                            <div class="col-sm-4">
                                <hr>
                                <h2 class="intro-text text-center">
                                    <strong id="topics">What We Do</strong>
                                </h2>
                                <hr>
                                <p>HYC has been organzing events that meets our organizations' objectives.</p>
                                The past few events were:
                                <ul>
                                    <li> New Year's Eve 2015 Party</li>
                                    <li> Kid's coloring Project</li>
                                    <li> Candle light vigil</li>
                                    <li> Bake sale- to raise funds for the earthquake</li>
                                    <li> July 4th, Hyolmo Camping</li>
                                </ul>
                                
                            </div>
                       <!--  -->
                    </div>
                </div>
   
    <div class= "container">
        <div class="row">
            <div class="box">
             <div class="ourteampic">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong> Our Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" <img src="<%= asset_path('pemba.jpg') %>"/>
                    <h6>Pemba Lama
                   </h6>
                </div>
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" <img src="<%= asset_path('phurpalama.jpg') %>
                   "/>
                    <h6>Phurpa Lama
                    </h6>
                </div>
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" <img src="<%= asset_path('zieh.jpg') %>
                   "/>
                    <h6>Dhamzee Sherpa
                    </h6>
                </div>
                <div class="ourteampic">
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" <img src="<%= asset_path('pemba.jpg') %>"/>
                    <h6>Pemba Lama
                   </h6>
                </div>
                <div class="ourteampic">
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" <img src="<%= asset_path('pemba.jpg') %>"/>
                    <h6>Pemba Lama
                   </h6>
                </div>
                <div class="ourteampic">
                <div class="col-sm-2 text-center">
                    <img class="img-responsive" class="img-circle"<img src="<%= asset_path('pemba.jpg')%>"/>
                    <h6>Pemba Lama
                   </h6>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
</div>
    
</div>
