<!DOCTYPE html>
<html>
<head>
  <title>Hycp</title>
  <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- <link href="css/bootstrap.lightbox.css" rel="stylesheet" media="screen">
<script src="js/bootstrap.lightbox.js"></script> -->

</head>

<body>

  <div class="header" id="header-container">	
    <nav class="navbar navbar-default">
      <div class="conatiner">
        <div class="navbar-header">

          <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
    
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
          </a>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li> <%= link_to "Home", '/' %></li> 
              <li><%= link_to "Gallery", galleries_path %></li>  
              <li><%= link_to "Blog", blog_path %></li>     
              <li> <%= link_to "Contact", contacts_path %></li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
  </div>
				
	<%= yield %>
    <footer>
    	<% if current_admin %>
    	 <%= link_to 'logout', destroy_admin_session_path, method: :delete %>
    	<% end %>
    </footer>
</body>

    <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
</html>
